// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~@nativescript/theme/core';
@import '~@nativescript/theme/blue';

// Override variables here

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling


.fa{
    font-family: "FontAwesome", "fontawesome-webfont";
  }
  .ion{
    font-family: "ionicons";
  }